@font-face {
    font-family: "Geometos";
    src: url('Geometos.ttf') format('truetype');
  }
  
  body {
    background: linear-gradient(
      270deg,
      #2b3467,
      #bad7e9
    );
  }  
  
  .header-1 {
    position: relative;
    top: 0;
    z-index: 9999;
    width: 100%;
    padding: 15px;
    background: #ffffff;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0.5px -1px 9px 2px #585858;
    -moz-box-shadow: 0.5px -1px 9px 2px #585858;
    box-shadow: 0.5px -1px 9px 2px #585858;  
  }
  
  .headerlogo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }
  .hello{
    margin-left: 10px;
    margin-top: 20px;
    font-family: BankGothic Md Bt;
    font-size: 20px;
    color: #2b3467;
  }
  
  .logo {
    height: 20px;
    margin-left: 20px;
  }
  
  .navbar {
    font-family: Geometos;
    display: flex;
    justify-content: right;
    padding: 10px;
  }
  
  .navbar button {
    color: #2b3467;
    background-color: #cecece;
    font-weight: bold;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .navbar button:hover {
    background-color: #2b3467;
    color: #ffffff;
  }
  
  
  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(103, 110, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  @keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }
  
  .fade-out {
    animation: fadeOut 0.2s ease;
  }
  
  .loader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  
  .burger-menu {
    display: none; 
    cursor: pointer;
    padding: 10px;
  }
  
  .bar {
    display: none;
    width: 25px;
    height: 3px;
    background-color: #2B3467;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 5%;
    border: 2px solid #2B3467;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
    @media (max-width: 1059px) {
        .navbar-buttons {
            display: flex;
            flex-direction: column;
            z-index: 999;
            position: absolute;
            top: 250%;
            left: 51.5%;
            transform: translate(-50%, -50%);
            padding: 10px;
            opacity: 0;
            transition: opacity 0.3s ease;
          }
  
      .navbar button {
        width: 47em;
        height: 3em;
        border-radius: 10px;
        font-size: 15px;
    }
    
    .navbar button:hover::before {
      width: 12em;
      border-radius: 10px;
  
      }
  
      .burger-menu{
        margin-left: auto;
      }
  
      .bar{
        display: block;
      }
    
      .navbar-buttons.active {
        display: flex;
        opacity: 1;
      }
    
      .navbar-buttons button {
        margin-bottom: 5px;
      }
    }
  
  @media (max-width: 746px){
    .navbar button {
      width: 40em;
  }
  }
  
  @media (max-width: 652px){
    .navbar button {
      width: 30em;
  }
  }
  
  @media (max-width: 488px){
    .navbar button {
      width: 20em;
  }
  }
  
  @media (max-width: 335px){
    .navbar button {
      width: 15em;
  }
  }
  
  
  .burger-menu {
      display: block;
  }
  
  .burger-menu.active .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .burger-menu.active .bar:nth-child(2) {
      opacity: 0;
  }
  
  .burger-menu.active .bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .table-container {
    margin-left: 2%;
    margin-right: 2%;
  display: flex;
  align-items: center;
  font-family: "Century Gothic";
  overflow-x: auto;
  padding-left: 23%;
  padding-right: 23%;
  padding-bottom: 5%;
  }
  
  .scrollable-cell {
  max-width: 200px;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  }
  
  .scrollable-cell::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  }
  
  .scrollable-cell::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  }
  
  .scrollable-cell::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  }
  
  .scrollable-cell::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
  }
  
  tr:first-child td {
    font-weight: bold;
  }
    
  
  .custom-table {
    margin-top: 10px;
      background-color: #fff;
      text-align: center;
      border-radius: 5px;
      overflow-x: auto; /* Add this line */
  }
  
  .table-container::-webkit-scrollbar {
    display: none;
  }
  
  .custom-table td,
  .custom-table th {
  text-align: center;
  border-radius: 5px;
  
  }
  
  .custom-table td {
  padding: 10px;
  color: #000000;
  text-align: center;
  }
  
  .custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    margin-top: 20px;
    margin-left: -73.5px;
}

.plus-btn {
    margin-bottom: 5px;
    width: 160px;
}
  .earth {
    display: flex;
    justify-content: center;
    height: 25vw;
    width: 25vw;
    margin: 0 auto;
      position: relative;
      overflow: hidden;
  }
  
  .globe-holder{
      position: absolute;
        height: 37%;
        width: 37%;
      top: 22.3%;
      border-radius: 50%;
      overflow: hidden;
  }
  
  .globe {
      position: absolute;
    height: 132%;
    width: 144%;
    top: -16%;
      left: -21%;
  }
  
  svg{
      position: absolute;
      width: 100%;
      height: 100%;
      top: -9.5%;
  }